
<div class="container mt-4">
  <div class="card-container">
    <div class="card" *ngFor="let program of programs">
      <h3>Balade: {{ program.name }}</h3>
      <p><strong>Description :</strong> {{ program.description }}</p>
      <p><strong>Date :</strong> {{ program.date | date:'mediumDate' }}</p>

      <div class="button-group">
        <button (click)="deleteProgram(program.id)">Supprimer</button>
        <button class="btn btn-primary" (click)="goToDetails(program.id)">Détails</button>
      </div>
    </div>
  </div>
</div>





